<!-- Navigation -->
<div class="superNav py-2">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
              <select  class="me-3 border-0 bg-light">
                <option value="en-us">EN-US</option>
              </select>
              <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>info@somedomain.com</strong></span>
              <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>1-800-123-1234</strong></span>
            </div> -->
            <div class=" offset-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
                <span class="me-3 text-white"><i class="fa fa-map mx-2"></i> Parcelles Assainies</span>
                <span class="me-3 text-white"> <i class="fa fa-phone mx-2"></i>Téléphone: +221 78 153 28 59</span>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
  <div class="container">
    <a class="navbar-brand text-white" href="#"> <h3>LOGO</h3></a>
    <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
      <div class="input-group">
        <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" class="form-control border-warning" style="color:#7a7a7a">
        <button class="btn btn-warning text-white">Search</button>
      </div>
    </div> -->
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control border-warning" style="color:#7a7a7a">
          <button class="btn btn-warning text-white">Search</button>
        </div>
      </div> -->
      <!-- <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">About</a>
        </li>
      </ul> -->
      <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase text-white" href="#">Page d'acceuil</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase text-white" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase text-white active" aria-current="page" href="#">Offers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase text-white" href="#">Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase text-white" href="#">Catalog</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase text-white" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase text-white" href="#">Contact</a>
          </li>
      </ul>
    </div>
  </div>
</nav>


   
<!-- slider -->
<header>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
              <div class="container d-flex align-items-center h-100">
                  <div class="row d-flex justify-content-center justify-content-md-start">
                      <div class="col-md-7 col-10 text-white mt-6 text-md-start text-center">
                        <div>  <h1 class="display-4">Lorem ipsum dolor sit amet consectetur.</h1></div> <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit praesentium consequatur officiis non ratione recusandae numquam fuga voluptatem aperiam mollitia dolor perspiciatis, accusamus laboriosam, quibusdam unde, enim nostrum!</p>
                        <button class="btn btn-customize p-2 px-5 mt-4 text-white border rounded-pill border-2">Discover</button>  
                      </div>
                  </div>
              </div>
              <!-- <div class="carousel-caption">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div> -->
          </div>
          <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1557459325-b6733cbeae9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60')">
              <div class="container d-flex align-items-center h-100">
                  <div class="row d-flex justify-content-center justify-content-md-start">
                      <div class="col-md-7 col-10 text-white mt-6 text-md-start text-center">
                        <div>  <h1 class="display-4">Lorem ipsum dolor sit amet consectetur.</h1></div> <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit praesentium consequatur officiis non ratione recusandae numquam fuga voluptatem aperiam mollitia dolor perspiciatis, accusamus laboriosam, quibusdam unde, enim nostrum!</p>
                        <button class="btn btn-customize p-2 px-5 mt-4 text-white border rounded-pill border-2">Discover</button>  
                      </div>
                  </div>
              </div>
            <!-- <div class="carousel-caption">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div> -->
          </div>
          <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2014/10/20/15/10/construction-worker-495373_960_720.jpg')">
              <div class="container d-flex align-items-center h-100">
                  <div class="row d-flex justify-content-center justify-content-md-start">
                      <div class="col-md-7 col-10 text-white mt-6 text-md-start text-center">
                        <div>  <h1 class="display-4">Lorem ipsum dolor sit amet consectetur.</h1></div> <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit praesentium consequatur officiis non ratione recusandae numquam fuga voluptatem aperiam mollitia dolor perspiciatis, accusamus laboriosam, quibusdam unde, enim nostrum!</p>
                        <button class="btn btn-customize p-2 px-5 mt-4 text-white border rounded-pill border-2">Discover</button>  
                      </div>
                  </div>
              </div>
            <!-- <div class="carousel-caption">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div> -->
          </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</header>

