<div class="row my-5">
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div><div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div><div class="col-lg-2 col-md-3 col-sm-3 col-6 my-3">
        <app-produit></app-produit>
    </div>
</div>
