<!-- ---------------------------------------------- Start Partenaires ------------------------------------------------ -->
<div class="container">
    <div class="row d-flex justify-content-center text-center mt-5">    
        <div class="col-md-12 text-center mb-3">
            <p class="text-uppercase">References</p>
            <h2>Nos références</h2>
            <div class="surligned"></div>
        </div>         

        <div class="references-slide">
            <div class=" col-md-11 col-10 mx-2">
                <div class="card mb-3 border-0">
                    <img src="../../../assets/images/brands-people-vIDmJvVLWKE-unsplash.jpg" class="card-img-top" alt="Wild Landscape" style="height: 150px;"/>
                </div>
            </div>
            <div class="col-md-11 col-10 mx-2">
                <div class="card mb-3 border-0">
                    <img src="../../../assets/images/cola_brand.jpg" class="card-img-top" alt="Wild Landscape" style="height: 150px;"/>
                </div>
            </div>
            <div class="col-md-11 col-10 mx-2">
                <div class="card mb-3 border-0">
                    <img src="../../../assets/images/cola_brand.jpg" class="card-img-top" alt="Wild Landscape" style="height: 150px;"/>
                </div>
            </div>
            <div class="col-md-11 col-10 mx-2">
                <div class="card mb-3 border-0">
                    <img src="../../../assets/images/johanne_brand.jpg" class="card-img-top" alt="Wild Landscape" style="height: 150px;"/>
                </div>
            </div>
            <div class="col-md-11 col-10 mx-2">
                <div class="card mb-3 border-0">
                    <img src="../../../assets/images/robot.jpg" class="card-img-top" alt="Wild Landscape" style="height: 150px;"/>
                </div>
            </div>
            <div class="col-md-11 col-10 mx-2">
                <div class="card mb-3 border-0">
                    <img src="../../../assets/images/mercedes_brand.jpg" class="card-img-top" alt="Wild Landscape" style="height: 150px;"/>
                </div>
            </div>
            <div class="col-md-11 col-10 mx-2">
                <div class="card mb-3 border-0">
                    <img src="../../../assets/images/robot.jpg" class="card-img-top" alt="Wild Landscape" style="height: 150px;"/>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
<!-- ----------------------------------------------- End Partenaires ------------------------------------------------- -->

