<!-- -------------------------------------------------- Icons sections ------------------------------------------------ -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-3 text-center p-4">
            <a href="#">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa fa-users fa-3x my-2 border border-3 p-3 border-primary rounded-circle"></i>
                        <h5 class="card-title fw-bold">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 text-center p-4">
            <a href="">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../../assets/icons/handshake.png" class="my-2 fa-3x my-2 border border-3 p-2 border-primary rounded-circle icon_image" alt="">
                        <h5 class="card-title fw-bold">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 text-center p-4">
            <a href="">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa fa-gears my-2 fa-3x my-2 border border-3 p-3 border-primary rounded-circle"></i>
                        <h5 class="card-title fw-bold">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 text-center p-4">
            <a href="">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa fa-gears my-2 fa-3x my-2 border border-3 p-3 border-primary rounded-circle"></i>
                        <h5 class="card-title fw-bold">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>        
    </div>
</div>     


<!-- ------------------------------------------ Range of services sections ------------------------------------------ -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-11 m-2">
            <a href="">
                <div class="card range">
                    <div class="card-header bg-white p-4">
                         <h5 class="text-uppercase fw-bold card-title">Pool solutions</h5>
                         <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam?</p>
                    </div>
                    <div class="card-body container-overlay p-0">
                        <img src="../../assets/images/taylorswimming.png" class="img-fluid image" alt="" srcset="">
                        <div class="middle">
                            <div class="text">
                                <i class="fa fas fas fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mx-2">
                        <div>
                            <h6 class="mt-2 text-uppercase fw-bold primary-color read-more">Read more</h6>
                        </div>
                        <div>
                            <i class=" fa fa-long-arrow-right fa-2x primary-color"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-11 m-2">
            <a href="">
                <div class="card range">
                    <div class="card-header bg-white p-4">
                         <h5 class="text-uppercase fw-bold card-title">Pool solutions</h5>
                         <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam?</p>
                    </div>
                    <div class="card-body container-overlay p-0">
                        <img src="../../assets/images/taylorswimming.png" class="img-fluid image" alt="" srcset="">
                        <div class="middle">
                            <div class="text">
                                <i class="fa fas fas fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mx-2">
                        <div>
                            <h6 class="mt-2 text-uppercase fw-bold primary-color read-more">Read more</h6>
                        </div>
                        <div>
                            <i class=" fa fa-long-arrow-right fa-2x primary-color"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-11 m-2">
            <a href="">
                <div class="card range">
                    <div class="card-header bg-white p-4">
                         <h5 class="text-uppercase fw-bold card-title">Pool solutions</h5>
                         <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam?</p>
                    </div>
                    <div class="card-body container-overlay p-0">
                        <img src="../../assets/images/taylorswimming.png" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text">
                                <i class="fa fas fas fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mx-2">
                        <div>
                            <h6 class="mt-2 text-uppercase fw-bold primary-color read-more">Read more</h6>
                        </div>
                        <div>
                            <i class=" fa fa-long-arrow-right fa-2x primary-color"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

