<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 px-0">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                  <div class="carousel-item active ">
                    <img src="../../assets/images/piscine-2.jpeg" class="d-block w-100" alt="..." style="max-height: 400px !important">
                    <div class="carousel-caption d-md-block d-flex align-items-center mt-3 h-75">
                        <h1 class="text-white display-1 fw-bold h-100">A propos de nous</h1>
                        <!-- <p>Some representative placeholder content for the first slide.</p> -->
                      </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 text-center my-3 ">
            <p class="text-uppercase mt-5">A propos de nous</p>
            <h2>Qui sommes-nous ?</h2>
            <div class="surligned"></div>

            <p class="text-md-start">
                Depuis plus de 30 ans, PMI est spécialisé dans la conception et la réalisation d’installations de traitement
                 d’eau en Afrique de l’Ouest. Notre partenariat exclusif avec le leader européen du secteur, BWT, nous permet 
                 de répondre à toutes les problématiques liées à l’eau pour vos besoins industriels ou domestiques.
                <br> <br>
                Historiquement, PMI est spécialisé dans la conception et la réalisation de piscines. 
                En 2010, PMI étend son expertise dans l’étude et le dimensionnement d’ouvrages de prétraitement et 
                d’assainissement des eaux usées.
                <br> <br>
                Grâce à nos partenaires, nous avons toutes les compétences et le soutien nécessaire pour réaliser
                 vos projets d’épuration des eaux.
            </p>

        </div>

    </div>
</div>


<app-references></app-references>
<app-map></app-map>