<header>  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item" style="background-image: url('../../assets/images/piscine-2.jpeg')">
                <div class="container d-flex align-items-center h-100">
                    <div class="row d-flex justify-content-center justify-content-md-start my-5">
                        <div class="col-md-7 col-10 text-white my-5 text-md-start text-center carousel__content-text carousel__content-text">
                            <div>  <h1 class="display-4">Lorem ipsum dolor sit amet consectetur.</h1></div> <br>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit
                               praesentium consequatur officiis non ratione recusandae numquam fuga voluptatem
                                aperiam mollitia dolor perspiciatis, accusamus laboriosam, quibusdam unde, enim nostrum!
                              </p>
                              <button class="btn mean_background p-2 px-5 mt-4 text-white border rounded-pill border-2">Discover</button>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active" style="background-image: url('../../assets/images/piscine-1.jpeg')">
                <div class="container d-flex align-items-center h-100">
                    <div class="row d-flex justify-content-center justify-content-md-start">
                        <div class="col-md-7 col-10 text-white my-5 text-md-start text-center carousel__content-text">
                            <div><h1 class="display-4">Lorem ipsum dolor sit amet consectetur.</h1></div> <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit
                                praesentium consequatur officiis non ratione recusandae numquam fuga voluptatem
                                aperiam mollitia dolor perspiciatis,
                                accusamus laboriosam, quibusdam unde, enim nostrum
                            </p>
                            <button class="btn mean_background p-2 px-5 mt-4 text-white border rounded-pill border-2">Discover</button>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../../assets/images/Bespoke-saddiyat.jpeg')">
                <div class="container d-flex align-items-center h-100">
                    <div class="row d-flex justify-content-center justify-content-md-start">
                        <div class="col-md-7 col-10 text-white my-5  text-md-start text-center carousel__content-text">

                          <div> <h1 class="display-4">Lorem ipsum dolor sit amet consectetur.</h1></div> <br>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit praesentium consequatur 
                            officiis non ratione recusandae numquam fuga voluptatem 
                            aperiam mollitia dolor perspiciatis, accusamus laboriosam, quibusdam unde, enim nostrum!</p>                          
                          <button class="btn mean_background p-2 px-5 mt-4 text-white border rounded-pill border-2">Discover</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>
