<div class="container">
    <div class="row my-5">
        <div class="col-md-4" >
             <img src="../../../assets/images/johanne_brand.jpg" class="img-fluid h-75 w-100" alt="">
             <div class="row ">
                <div class="col-4 p-2">
                    <div class="card mb-3 border-0 w-100">
                        <img src="../../../assets/images/brands-people-vIDmJvVLWKE-unsplash.jpg" class="card-img-top" alt="Wild Landscape" style="height: 130px;"/>
                    </div>
                </div>
                <div class="col-4 p-2">
                    <div class="card mb-3 border-0">
                        <img src="../../../assets/images/cola_brand.jpg" class="card-img-top" alt="Wild Landscape" style="height: 130px;"/>
                    </div>
                </div>
                <div class="col-4 p-2">
                    <div class="card mb-3 border-0">
                        <img src="../../../assets/images/cola_brand.jpg" class="card-img-top" alt="Wild Landscape" style="height: 130px;"/>
                    </div>
                </div>
             </div>
        </div>
        <div class="col-md-6">
            <div>
                <h5>PACK – Split Samsung AR 12000 BTU + Machine A Café SONASHI</h5>
                <span>Marque: <a href="">Samsung</a></span>
            </div>
            <hr>
            <div>
                <strong>285.000 CFA</strong>
                <p><span>Status:  <span class="text-success fw-bold">En stock</span></span></p> 
                <p>
                    Le choix de l’électroménager est parfois une décision difficile. 
                    Mais pour toutes les fonctions: cuisiner, lessiver, réfrigérer ou réchauffer vous trouverez
                     chez soumari les appareils dont vous avez besoin. Faites votre choix dans notre assortiment de mixeurs, 
                    réfrigérateurs, congélateurs, lave-vaisselle, lave-linge, fours et autres.
                </p>
            </div>
            <hr>
           
        </div>
        <div class="col-md-2">
            <p>Vous voulez commander par téléphone ? <a href="" class="text-decoration-none">Appeler au 786365620</a></p>

            <div class="card border-0">
                <div class="card-body rounded rounded-3" style="background-color: #F1F1F1;">
                   <p><i class="fa fa-globe"></i> <span style="font-size: 15px;"> Commander en ligne</span> </p>
                   <p><i class="fa fa-globe"></i> <span style="font-size: 15px;"> Livraison à 24h</span> </p>
                   <p class="mb-0"><i class="fa fa-globe"></i> <span style="font-size: 15px;" class="text-center"> Payez cash à la Livraison</span> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h5>Description</h5>
            <hr>
            <h4 class="fw-bold">SPECIFICATION DU SPLIT</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul> <br>
            <h4 class="fw-bold">SPECIFICATION DU SPLIT</h4>
            <p>
                PRESSION PUISSANTE DE 15 BAR POUR UN GOÛT RICHE <br>
GRAND RÉSERVOIR D’EAU AMOVIBLE DE 1,4 L <br>
FILTRE FACILE À UTILISER POUR LE CAFÉ <br>
MOULU FILTRE EN ACIER INOXYDABLE POUR 2 <br>
TASSES BUSE VAPEUR POUR CAPPUCCINO MOUSSEUX <br>
3 INTERRUPTEURS AVEC VOYANTS POUR FAIRE DU CAFÉ OU DE LA VAPEUR COMMODITÉS <br>
LIVRAISON MANUELLE DU CAFÉ BAC D’ÉGOUTTEMENT AMOVIBLE FONCTION EAU CHAUDE PROTECTION CONTRE LA <br>
SURPRESSION DESIGN ÉLÉGANT AVEC DÉCORATION EN ACIER INOXYDABLE ACCESSOIRES : 1 PORTE-FILTRE, 1 FILTRE ET 1 PELLE DE MESURE 230V ~ 50Hz 850W
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h5>Similaires</h5>
            <hr>
            <app-list-produit></app-list-produit>
        </div>

    </div>
</div>